COSMOS_DATABASE_ID=
COSMOS_ENDPOINT=
COSMOS_KEY=
STUDY_DISABLE_STATIC_FALLBACK=true
VITE_ENABLE_STATIC_FALLBACK=false
VITE_RECAPTCHA_SITE_KEY=
VITE_DISABLE_RECAPTCHA=false
EXAM_AUTH_BASE_URL=https://api-exam.msossa.org/api
STUDY_COOKIE_SECURE=true
STUDY_SESSION_SECRET=
